body {
    height: 100%;
    background: #243b55;
    margin: 0;
    font-family: Calibri;
    user-select: none;
}

.main {
    background: rgba(0,0,0,.5);
    color: white;
    padding: 6px;
    margin-bottom: 50px;
}

.main h1 {
    padding-left: 25px;
    display: inline-block;
}

.main a {
    display: inline-block;
    float: right;
    padding-right: 25px;
    font-size: 50px;
    color: white;
}

.box img {
    width: 200px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}